// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray: #F4F4F4;
$yell: #FFFEE1;

body {
  font-family: 'Open Sans', sans-serif;
  h1 {
    font-family: 'Roboto'
  }
}

.grey {
  background-color: $gray;
  width: 5px;
}

.message {
  display: flex;
  justify-content: left;
  padding: 20px;
}

.container {
  margin: 0;
  padding: 20px;
}

.answer {
    background-color: $yell;
  }

.second {
  padding: 10px;
}

a {
  text-decoration: none;
  color: grey;
  &:hover {
    color: black;
  }
}
